*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 20px;
}
h1 {
  margin-top:20px;
  margin-left: 20px;
}
.container {
  margin: 20px auto;
  width 90%;
}

#header {
  text-transform: uppercase;
  margin: 0 auto;
  padding:20px;
  padding-top: 20px;
}


@media screen and (min-width:575px) {
  div {
    width:200px;
    height:200px;
    display: inline-block;
  }
}

@media screen and (min-width: 991px) {
  div {
    width: 200px;
    height: 200px;
    display: inline-block;
  }
}

.preview#baku{
  background-image: url("/images/baku.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.preview#london{
  background-image: url("/images/london.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.preview#madrid{
  background-image: url("/images/madrid.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.preview#rome{
  background-image: url("/images/rome.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
