*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 20px;
}

#header {
  text-transform: uppercase;
  font-size: 18px;
}

.container {
  margin-left:5%;
  margin-right: 5%;
}

h1 {
  padding:20px;
  padding: 20px;
}



.preview#baku{
  background-image: url("/images/baku.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.preview#london{
  background-image: url("/images/london.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.preview#madrid{
  background-image: url("/images/madrid.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.preview#rome{
  background-image: url("/images/rome.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.preview {
  height: 200px;
  width:100%;
  margin-top: 1%;
  display: inline-block;
}

/* tablet */@media screen and (min-width: 575px) {
  .preview {
    width: 45%;
}

/* laptops */

@media screen and (min-width: 991px) {
  .preview {
    width: 24%;
    height:250px;
  }
